CherryPy==3.3.0
Flask==0.10.1
Flask-uWSGI-WebSocket==0.5.0
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.10.4
bottle==0.12.7
configobj==5.0.6
cupshelpers==1.0
decorator==3.4.0
gevent==1.0.2
greenlet==0.4.9
ipaddr==2.1.10
itsdangerous==0.24
libvirt-python==1.2.9
numpy==1.9.0
pycups==1.9.66
pycurl==7.19.3.1
pygobject==3.14.0
pysmbc==1.0.13
pyudev==0.16.1
simplejson==3.5.2
six==1.8.0
uWSGI==2.0.11.2
urlgrabber==3.9.1
virtualenv==1.11.6
wsgiref==0.1.2
